# Symfony directories
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/sessions/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/sessions/.gitkeep
web/uploads/images/*
!web/uploads/images/.gitkeep
/vendor/
/bin/
/composer.phar
/coverage
coverage.xml
behat.yml

# Configuration files
.settings
*.php~

# Vagrant
.vagrant
