# Symfony directories
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/
/composer.phar
/coverage
coverage.xml

# Configuration files
.settings
*.php~

# Vagrant
.vagrant
