parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony        # It must be the same that $mysql_database variable from Personalization file
    database_user:     app            # It must be the same that $mysql_rootpassword variable from Personalization file
    database_password: 123            # It must be the same that $mysql_password variable from Personalization file

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            23j12b3k54fgbpo23k2jb12ouh677khb456j
    
    userpass:          userpass
    adminpass:         adminpass
